alembic
asyncpg
fastapi
fastapi[standard]
sqlalchemy
sqlmodel
celery[librabbitmq]
pydantic
pydantic_settings
python-statsd
requests
importlib_metadata<=3.6; python_version<'3.8'
uvicorn[standard]
uvloop
